* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
  font-family: sans-serif;
}

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  background: #AF8F6F;
  color: #fff;
  padding: 8px 16px;
  z-index: 999;
  transition: top 0.3s;
}

.skip-to-content:focus {
  top: 0;
}


.app-bar {
  height: 70px;
  background-color: #77eaa9;
  margin: 0 auto 20px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.drawer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280xpx;
  height: 100%;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: auto;
}

.logo h1 {
  font-size: 42px;
  margin-left: 10px;
  color: #000000;
  border-bottom: 2px solid white;
}

.menu-items {
  display: flex;
  align-items: center;
}

.drawer {
  width: 50px;
  height: 50px;
  display: none;
}

.hamburger-button {
  background-color: #48a100;
  min-width: 44px;
  min-height: 44px;
  font-size: 18px;
  border-radius: 12%;
}

nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0
}

nav ul li {
  display: inline-block;
  padding: 16px 0;
  margin: 0 24px;
  height: 100%;
}

nav ul li a {
  padding: 14px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

.main-content {
  width: 100%;
  display: inline-block;
}

.hero {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../public/images/heros/farmakoekonomi.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(23, 192, 14);
}

.hero .container {
  text-align: center;
  color: white;
  font-family: Merriweather, serif;
  text-shadow: 5px 5px 8px rgba(0, 166, 30, 0.5);
}

.hero .container h1 {
  font-size: 36px;
}

.hero .container p {
  font-size: 24px;
}

.main-content .restaurant-list {
  max-width: 100%;
}

.wrapper {
  width: 80%;
  margin: 36px auto;
  text-align: center;
  border-bottom: 2px #543310 solid;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;;
  background-color: #b6e3ce;
  margin-top: 16px;
}

footer .footer-content {
  text-align: center;
}

footer .footer-content p {
  font-size: 16px;
  color: black;
}